:root {
  /* Colours */
  --color-bg: light-dark(#f7eebe, #707070); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#536733, #475334);

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 3rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;

  /* Links */
  --color-link-bg: light-dark(#fffae2, #494949);
  --color-link-hover: light-dark(#fff, #272727); /* used */
  --color-link-active: light-dark(#fffae2, #494949); /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 3rem;
  --font-h2-size: 20px;
  --font-h3-size: 2rem;
  --color-headline-bg: light-dark(#000000, #fffae2);
  --color-headline-text-page: light-dark(#fffae2, #272727);

  /* Tekst */
  --color-text: light-dark(#000000, #fffae2);
  --color-text-inverted: light-dark(#fffae2, #000000);

  /*  Marginer */
  --margin-head-bottom: 40px;
  --margin-head-top: 20px;
  --padding-bottom: 80px;
  --padding-top: 20px;

  /* Spacing system */
  --space-10: 10px;
  --space-20: 20px;
  --space-40: 40px;
  --space-60: 60px;
  --space-80: 80px;
  --space-100: 100px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #272727);
  --color-cta-card-bg-bg: light-dark(#536733, #475334);

  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #272727);
  --color-news-bg-inverted: light-dark(#dbe2f5, #3f4860);
  --color-cta-newscard-bg: #809d52;
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: "rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 3rem;
  --headline1-size: 1rem;
  --headline2-size: 30px;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 20px;
  --form-submit-size: 20px;

  /* Infographics */
  --color-info-bg: light-dark(#fffae2, #272727);
  --color-infobox-1-bg: light-dark(#bccaa6, #607753);
  --color-infobox-2-bg: light-dark(#809d52, #586556);
  --color-input: light-dark(#fffae2, #acacac);
}
