* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*Ligger de to kasser ved siden af hinanden*/
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: start;
  padding: 10px;
  align-items: stretch;
}

/* Form og info styling */
.form-box,
.info-box {
  background-color: var(--color-news-bg);
  padding: 25px;
  border-radius: 15px;
  width: 500px;
  font-size: 18px;
}

.info {
  display: grid;
  grid-column: 1/2;
}

/* Generelle styles */
input {
  border-radius: 9px;
  border: 1px solid #333;
  padding: 5px;
  background-color: var(--color-input);
  width: 300px;
}
/*Send knap design*/
#knap {
  width: 125px;
  padding: 5px;
  background: var(--color-head-bg);
  border: 1px solid #000;
  font-size: 20px;
  cursor: pointer;
  border-radius: 37px;
}

.error-message {
  color: red;
}

/* Form layout */
form {
  display: grid;
  gap: 15px;
  padding: 10px;

  .form-group {
    display: grid;
    gap: 1px;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}

/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}

/*Design på tekst boksen*/
textarea {
  border-radius: 9px;
  border: 1px solid #333;
  padding: 5px;
  background-color: var(--color-input);
  width: 400px;
}

/*Tekst og layout for informationsoplsyningerne*/
.user-data p {
  margin-bottom: 16px; /* Mere mellemrum mellem afsnit */
  line-height: 1.5; /* Gør teksten lettere at læse */
}

.user-data div {
  margin-top: 16px; /* Plads over knapperne */
}
